.section-title-2 .title {
    font-size: 47px;
    line-height: 54px
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .section-title-2 .title {
        font-size: 38px;
        line-height: 45px
    }
}

@media (max-width:767px) {
    .section-title-2 .title {
        font-size: 30px;
        line-height: 30px
    }
}

.section-title-2 .line {
    width: 150px;
    background: 0 0;
    border: 1px solid #07294d;
    margin-top: 25px;
    display: block;
}

      .blog-area-2 {
    position: relative;
    padding-top: 112px;
    z-index: 1
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .blog-area-2 {
        padding-top: 90px
    }
}

@media (max-width:767px) {
    .blog-area-2 {
        padding-top: 70px
    }
}

.blog-area-2::before {
    position: absolute;
    content: '';
    max-width: 1300px;
    width: 100%;
    height: 60%;
    background-color: #f1f1f1;
    top: 0;
    left: 150px;
    z-index: -1
}

@media only screen and (min-width:1200px) and (max-width:1399px) {
    .blog-area-2::before {
        left: 0
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .blog-area-2::before {
        left: 0
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .blog-area-2::before {
        left: 0
    }
}

@media (max-width:767px) {
    .blog-area-2::before {
        left: 0
    }
}

.blog-area-2 .trending-title {
    font-weight: 700;
    font-size: 46px;
    letter-spacing: .1em;
    line-height: 24px;
    color: #d5d5d5;
    opacity: .46;
    text-transform: uppercase;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
    position: absolute;
    top: 283px;
    left: 35px
}

@media only screen and (min-width:1200px) and (max-width:1760px) {
    .blog-area-2 .trending-title {
        top: 30px;
        left: 15px;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .blog-area-2 .trending-title {
        top: 30px;
        left: 15px;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .blog-area-2 .trending-title {
        display: none
    }
}

@media (max-width:767px) {
    .blog-area-2 .trending-title {
        display: none
    }
}
.blog-wrapper {
    position: relative
}
.blog-wrapper .more-post {
    position: absolute;
    top: -35px;
    right: 170px;
    font-weight: 600;
    font-size: 18px;
    color: #07294d;
    border-bottom: 1px solid #707070
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .blog-wrapper .more-post {
        right: 0
    }
}

@media (max-width:767px) {
    .blog-wrapper .more-post {
        right: 0
    }
}

@media (max-width:767px) {
    .blog-wrapper .more-post {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 30px;
        text-align: center
    }
}
.row-wrapper {
    margin-left: -12px;
    margin-right: -12px
}

.row-wrapper .custom-col {
    padding: 0 12px
}
.single-blog {
    background-color: white;
}

.single-blog .blog-image {
    overflow: hidden
}

.single-blog .blog-image a {
    display: block
}

.single-blog .blog-image img {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    width: 100%
}

.single-blog .blog-content {
    padding: 25px
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .single-blog .blog-content {
        padding: 15px
    }
}

@media (max-width:767px) {
    .single-blog .blog-content {
        padding: 15px
    }
}

.single-blog .blog-content .meta li {
    display: inline-block;
    position: relative
}

.single-blog .blog-content .meta li+li {
    margin-left: 30px
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .single-blog .blog-content .meta li+li {
        margin-left: 20px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .single-blog .blog-content .meta li+li {
        margin-left: 20px
    }
}

@media (max-width:767px) {
    .single-blog .blog-content .meta li+li {
        margin-left: 20px
    }
}

.single-blog .blog-content .meta li+li::before {
    position: absolute;
    content: '-';
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -18px;
    font-size: 16px
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .single-blog .blog-content .meta li+li::before {
        left: -13px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .single-blog .blog-content .meta li+li::before {
        left: -13px
    }
}

@media (max-width:767px) {
    .single-blog .blog-content .meta li+li::before {
        left: -13px
    }
}

.single-blog .blog-content .meta li a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #151515;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .single-blog .blog-content .meta li a {
        font-size: 12px
    }
}

@media (max-width:767px) {
    .single-blog .blog-content .meta li a {
        font-size: 12px
    }
}

.single-blog .blog-content .meta li a:hover {
    color: #0c8b51
}

.single-blog .blog-content .blog-title a {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    color: #07294d;
    margin-top: 10px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .single-blog .blog-content .blog-title a {
        font-size: 18px;
        line-height: 28px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .single-blog .blog-content .blog-title a {
        font-size: 20px;
        line-height: 28px
    }
}

@media (max-width:767px) {
    .single-blog .blog-content .blog-title a {
        font-size: 18px;
        line-height: 28px
    }
}

.single-blog .blog-content .blog-title a:hover {
    color: #0c8b51
}

.single-blog .blog-content .more {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .02em;
    line-height: 24px;
    color: #151515;
    margin-top: 15px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .single-blog .blog-content .more {
        font-size: 13px
    }
}

@media (max-width:767px) {
    .single-blog .blog-content .more {
        font-size: 14px
    }
}

.single-blog .blog-content .more i {
    margin-left: 3px;
    font-size: 12px
}

.single-blog .blog-content .more:hover {
    color: #0c8b51
}

.single-blog:hover .blog-image {
    overflow: hidden
}

.single-blog:hover .blog-image img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
}

.date-post {
	float: left;
	border: 2px solid #ffaa30;
	padding: 12px 10px 9px;
	text-align: center;
}

.date-post span {
	display: block;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #ffaa30;
	text-transform: uppercase;
}

.date-post span.numb {
	font-size: 30px;
}
 .date-post {
	padding-bottom: 6px;
}

 .date-post span.numb {
	margin-bottom: 5px;
}
.content-post {
	margin-top: -7px;
	line-height: 22px;
}
.content-post .entry-content {
	margin-bottom: 30px;
}
.content-post .entry-content:before {
	bottom: -17px;
}
 .content-post .title-post {
	padding: 0 15px 0 80px;
	margin-bottom: 12px;
    line-height: 18px;
}
 .content-post .title-post a {
	font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #333;
}


.content-post .entry-content {
	position: relative;
	margin-bottom: 26px;
}

.content-post .entry-content:before {
	position: absolute;
	left: 0;
	bottom: -13px;
	width: 30px;
	height: 2px;
	content: "";
	background-color: #333;
}
